@import "@/styles/common.scss";

.main {
  background-color: $white;
  height: 100vh;
  padding: 28px 24px 0;
  overflow: auto;
}

.header {
  margin-bottom: 22px;
}

.titleDiv {
  height: 86px;
  margin: 60px 0px 0px 0px;
}

.title {
  @include font-style($subtitle2);
}

.titleMain {
  width: 100%;
  margin-top: 12px;
  padding: 14px 18px;
  @include font-style($body2);
  border: 1px solid #d9d9d9;
  border-radius: 10px;

  &::placeholder {
    color: $grey2;
  }
}

.textDiv {
  margin-top: 50px;
}

.textMain {
  width: 100%;
  height: 139px;
  margin-top: 12px;
  padding: 14px 18px;
  resize: none;
  @include font-style($body2);
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.imageDiv {
  display: flex;
  align-items: center;
  width: fit-content;
  // height: 34px;
  margin-top: 6px;
  gap: 3px;
  padding: 4px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  cursor: pointer;
}

.image {
  @include icon("/image-add.svg", 24px, 24px);
}

.imageNumber {
  @include font-style($caption1);
}

.keywordDiv {
  margin-top: 60px;
  margin-bottom: 56px;
}

.keywordMain {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}

.keyword {
  height: 38px;
  white-space: nowrap;
  @include font-style($body2);
  padding: 7px 16px;
  margin-right: 6px;
  margin-top: 6px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  cursor: pointer;

  &.selected {
    @include button-select;
  }
}

.endBtnDiv {
  margin-bottom: 189px;
}
