@import "@/styles/_variables.scss";

// 아이콘 설정 mixin
@mixin icon($url, $width, $height) {
  content: "";
  display: inline-block;
  width: $width;
  height: $height;
  background: url($url);
  vertical-align: text-bottom;
}

// 아이콘 위치 설정 mixin
@mixin position-icon($position) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @if $position == left {
    left: 0;
  } @else if $position == right {
    right: 0;
  }
}

// 말줄임 mixin
$default-line-clamp: 1;
@mixin ellipsis-text($line-clamp: $default-line-clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

//버튼 hover mixin

@mixin button-select {
  background-color: $lightblue;
  border: 1px solid $deepblue;
  transition:
    background-color 0.5s ease,
    border-color 0.5s ease;
}

@mixin button-hover {
  &:hover {
    background-color: $lightblue;
    border: 1px solid $deepblue;
  }
}

//폰트사이즈 mixin
@mixin font-style($font-map) {
  font-size: map-get($font-map, size);
  line-height: map-get($font-map, line-height);
  font-weight: map-get($font-map, weight);
}

//공통 치아 스타일 mixin

@mixin common-tooth-styles {
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
