// 공통 변수 설정 페이지

//white

$white100: #fafbff;

// blue

$blue100: #39a7ff;
$blue200: #87c4ff;
$blue300: #e0f4ff;

// black

$black100: #171717;

// gray
$gray100: #ededed;
$gray200: #676767;
$gray300: #494949;
