@import "@/styles/variables.scss";
@import "@/styles/common.scss";

.main {
  background-color: #eef6fb;
  height: 100vh;
  padding: 0 24px;
  overflow: auto;
}

.header {
  padding-top: 28px;
  margin-bottom: 73px;
}

.profile {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  width: 100%;
  padding: 35px 42px;
  gap: 30px;
  border-radius: 20px;
  background-color: $base-white;
  border: 1px solid $deepblue;
}

.user {
  width: 100%;
}

.title {
  @include font-style($semi-body1);
}

.imgDiv {
  display: flex;
  width: 100%;
  margin-top: 12px;
}

.imgBtnDiv {
  width: 100%;
  margin-left: 18px;
}

.imgBtn {
  display: flex;
  padding: 7px 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @include font-style($caption1);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.imgBtnDefault {
  display: flex;
  padding: 7px 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @include font-style($caption1);
  margin-top: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  word-break: keep-all;
  white-space: nowrap;
  &:hover {
    background-color: $lightblue;
    border: 1px solid $blue;
  }
}

.imgText {
  display: block;
  white-space: normal;
  @include font-style($caption1);
}

.email {
  display: flex;
  width: 100%;
  margin: 36px 0 36px 0;
  gap: 10px;
}

.emailTitle {
  @include font-style($semi-body1);
}

.emailText {
  @include font-style($body2);
}

.nickName {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nickNameTitle {
  @include font-style($semi-body1);
  margin-bottom: 6px;
}

.nickNameTextDiv {
  display: flex;
  &::after {
    @include icon("/pencil.svg", 20px, 20px);
    background-size: contain; // 이미지 크기를 요소 크기에 맞춤
    background-repeat: no-repeat; // 이미지 반복 방지
  }
}

.nickNameText {
  width: 100%;
  @include font-style($body2);
  border: none;
  &:focus {
    outline: none;
  }
}

.nickNameHr {
  width: 100%;
  border: 1px solid #d9d9d9;
  margin-bottom: 3px;
}

.failText {
  @include font-style($caption1);
  color: #ff4848;
  margin-top: 5px;
}

.saveBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-style($body3);
  width: 120px;
  height: 52px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
