@import "@/styles/common.scss";

.serviceUse {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: $white;
  padding: 38px 32px 32px;

  .serviceBox {
    padding-top: 13px;
    padding-left: 6px;
    border-top: 1px solid $grey1;
  }

  .serviceTitle {
    @include font-style($body2);
    color: $black;
    margin-bottom: 12px;
  }

  .serviceText {
    display: block;
    @include font-style($caption1);
    color: $grey3;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 13px;
  }
}
