@import "@/styles/common.scss";

.user {
  margin-top: 29px;
  display: flex;
  gap: 17px;
  padding: 0 24px;
}

.profileImg {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  position: relative;
}

.userDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  width: 100%;

  .userName {
    @include font-style($subtitle1);
    color: $base-white;
    width: 100%;
    display: block;
    overflow: hi;
  }

  .profileButton {
    @include font-style($body2);
    color: $white;
    cursor: pointer;
    border: 1px solid $base-white;
    padding: 7px 16px;
    border-radius: 8px;
  }
}
