@import "@/styles/common.scss";

.main {
  width: 212px;
  margin: 81px 31px;
}

.mainTitle {
  @include font-style($subtitle2);
  color: $black;
  text-align: center;
  margin-bottom: 24px;
}

.mainBtn {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 7px 16px;
  @include font-style($body2);
  cursor: pointer;
  color: $black;
  display: block;
  margin: 0 auto;
  background-color: $deepblue;
  color: $base-white;

  & + & {
    margin-top: 10px;
  }

  &:hover {
    @include button-select;
  }
}

.email {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.emailTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include font-style($subtitle2);
  color: $black;
  margin-bottom: 10px;
}

.emailBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.emailName {
  @include font-style($semi-caption1);
  color: $black;
}

.emailText {
  @include font-style($caption1);
  color: $black;
}
