@import "@/styles/common.scss";

.writeForm {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.writeLabel {
  word-break: auto-phrase;
  @include font-style($semi-subtitle1);
}
.inputField {
  margin-top: 10px;
  position: relative;
}
.formInput {
  width: 100%;
  border-radius: 10px;
  border: 1px solid $grey1;
  height: 48px;
  padding: 12px 42px 12px 18px;
  position: relative;
  @include font-style($body2);
  color: $grey2;
  &:focus {
    border: 1px solid $deepblue;
  }
  &::placeholder {
    @include font-style($body2);
    color: $grey2;
  }
}
.inputIcon {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 24px;
  height: 24px;
}

.helperText {
  display: block;
  @include font-style($body2);
  color: $grey3;
  margin-top: 5px;
}

.treatmentList {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.treatmentButton {
  border: 1px solid $grey1;
  border-radius: 8px;
  padding: 7px 16px;
  @include font-style($body2);
  color: $black;
  cursor: pointer;
}

.selected {
  @include button-select;
}

.toothItem {
  margin-top: 7px;
}

.toothSelect {
  display: flex;
  align-items: center;
  gap: 6px;
}

.toothImg {
  margin-top: 12px;
}

.share {
  margin-top: 12px;
}
