@import "@/styles/common.scss";

.main {
  height: 100vh;
  background-color: $white;
  overflow: auto;
  padding: 28px 24px;
  position: relative;
}

.myMedical {
  margin-top: 24px;
  width: 100%;
  height: 100%;
  background-color: $blue;
  border-radius: 20px;
  padding: 20px 91px;
}

.medicalText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  @include font-style($headline);
  color: $white;
  text-align: center;
}

.noDataText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
}

.recordButton {
  margin-top: 18px;
  width: 100%;
  height: 46px;
  border-radius: 10px;
  border: 2px solid $base-white;
  text-align: center;
  @include font-style($body3);
  color: $base-white;
}

.medicalRecentlySection {
  margin-top: 26px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.wrapperTitle {
  @include font-style($semi-subtitle1);
  color: $black;
}

.allButton {
  @include icon("/right-icon.svg", 24px, 24px);
  text-indent: -9999px;
}

.medicalOtherSection {
  margin-top: 26px;
}

.otherCard {
  margin-top: 14px;
}

.cardList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
