@import "@/styles/variables.scss";
@import "@/styles/common.scss";

.saveBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-style($body3);
  width: 120px;
  height: 52px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
