@import "@/styles/common.scss";

.card {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(60, 65, 69, 0.05);
  border-radius: 20px;
  padding: 20px;
}

.cardTop {
  position: relative;
}

.moreButton {
  position: absolute;
  right: 0;
  top: 0;
  @include font-style($body2);
  color: $deepblue;
  &::after {
    content: ">";
    margin-left: 4px;
  }
}

.dentistInfo {
  @include font-style($body2);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dentistName {
  @include font-style($subtitle2);
}

.cardBottom {
  position: relative;
}

.profileIcon {
  position: absolute;
  right: 0;
  bottom: 0;
}
