@import "@/styles/common.scss";

.imageSwiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.imageItem {
  width: auto !important;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  @include font-style($body2);
}

.image-write {
  width: 116px;
  height: 116px;
}
.image-read {
  width: 200px;
  height: 200px;
}
