@import "@/styles/common.scss";

.scroll {
  position: absolute;
  bottom: 28px;
  right: 24px;
  z-index: 1000;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(224, 244, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("/scroll-up.svg") no-repeat center;
  text-indent: -9999px;
}
