@import "@/styles/common.scss";

.treatmentSwiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.treatmentItem {
  width: auto !important;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  @include font-style($body2);

  &.selected {
    background-color: $lightblue;
    border: 1px solid $deepblue;
  }
}
